@import "tailwindcss";

/* Custom fonts */
body {
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}